body {
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: relative;
    z-index: 1;
    left: 0;
    top: 70px;
    width: 70%;
    height: 70%;
    padding: 70px;
    margin: auto;
    overflow: auto;
    background-color: rgba(255,255,255, 0.9);
}

/*.show-modal {
  display: block;
  background-color: ;
  margin: auto;
  width: 70%;
  height: 50%;
  text-align: center;
}*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  opacity: 1;
}