body {
  text-align: center;
  background-color: #eef0d8;
  background-image: url("../images/black-mamba.png"); /* Downloaded from https://www.transparenttextures.com/ */
}

.canvas-container {
  /*background-color: rgba(0, 0, 0, 0.8);*/
  background-color: #304047;
  background-image: url("../images/back-pattern.png"); /* Downloaded from https://www.transparenttextures.com/ */
  margin: auto;
  padding-bottom: 30px;
  border: solid 2px;
  border-bottom-color: #ccb;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ccb;
  max-height: 80%;
  max-width: 60%;
}

/* The Modal */
.modal {
  display: none;
}

#title {
  color: white;
  text-shadow: 2px 2px #646969;
  font-size: 3rem;
}

.show-modal {
  display: block !important;
  position: relative;
  z-index: 1;
  left: 0;
  top: 40px;
  max-width: 40%;
  max-height: 70%;
  padding: 20px 70px 70px 70px;
  margin: auto;
  overflow: auto;
  color: white;
  background-color: #666973;
  background-image: url("../images/checkered-light-emboss.png"); /* Downloaded from https://www.transparenttextures.com/ */
}

#modal-text {
  font-size: 2rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9)
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.6);
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  opacity: 1;
}

.button {
  width: 100px;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 2px 2px 1px black;
  color: black;
  background-color: white;
  margin: 40px 20px 0 20px;
}

.button:hover {
  background-color: #4caf50;
  color: white;
}

#close-button:hover {
  background-color: #f44336;
  color: white;
}
